<!DOCTYPE html>
<html>
  <head>
    <title>Vote Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Vote Social</h1>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <form>
      <input name="address" value="[% content.normalizedInput.line1 %] [% content.normalizedInput.city %] [% content.normalizedInput.state %] [% content.normalizedInput.zip %] ">
      <input type="submit">
    </form>

    [% officials = {};
       i = 0;
       FOREACH o IN content.officials;
         officials.$i = o;
       i = i + 1;
       END;

       offices = {};
       i = 0;
       FOREACH o IN content.offices;
         offices.$i = o;
         i = i + 1;
       END;
    %]

    <ul>
    [% d = content.divisions;
       FOREACH id IN d.sort_by_division_id_length %]
      <li>[% d.$id.name %]</li>
      <ul>
      [% FOREACH i IN d.$id.officeIndices %]
        <li>
        [% office = offices.$i %]
        [% office.name %] ([% i %])
        </li>
        <ul>
        [% FOREACH j IN office.officialIndices %]
          <li>[% INCLUDE official.tt official=officials.$j %]</li>
        [% END %]
        </ul>
        </li>
      [% END %]
      </ul>
    </li>
    [% END %]
    </ul>

[% IF debug %]
    <pre>
      [% USE Dumper %]
      [% Dumper.dump(content) %]
    </pre>
[% END %]

  </body>
</html>
