<!DOCTYPE html>
<html>
  <head>
    <title>Vote Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Vote Social</h1>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <form>
      <input name="address" value="16204 Timberlane Dr Omaha NE 68136">
      <input type="submit">
    </form>


    Request: [% content.request %]


    <h2>Officials</h2>    
    <ul>
    [% officials = {};
       i = 0;
       FOREACH o IN content.officials;
         officials.$i = o %]
      <li>
        [% IF o.photoUrl %]
           <img src="[% o.photoUrl %]" style="height:60px">
        [% END %]
        [% o.name %], 
        [% IF o.party %]
           [% o.party %]
        [% END %]

        [% FOREACH u IN o.urls %]
            <a href="[% u %]" target="_blank"><img src="/static/images/www32.jpeg"></a>
        [% END %]

        [% FOREACH c IN o.channels %]
          [% IF c.type == "Facebook" %]
            <a href="http://facebook.com/[% c.id %]" target="_blank"><img src="/static/images/facebook32.png"></a>
          [% END %]
          [% IF c.type == "Twitter" %]
            <a href="http://twitter.com/[% c.id %]" target="_blank"><img src="/static/images/twitter32.png"></a>
          [% END %]
          [% IF c.type == "YouTube" %]
            <a href="http://youtube.com/[% c.id %]" target="_blank"><img src="/static/images/youtube32.png"></a>
          [% END %]
          [% IF c.type == "GooglePlus" %]
            <a href="http://plus.google.com/[% c.id %]" target="_blank"><img src="/static/images/gplus32.png"></a>
          [% END %]
        [% END %]

      </li>
      [% i = i + 1; %]
    [% END %]
    </ul>
    <pre>
    [% USE Dumper %]
    [% Dumper.dump(content.officials) %]
    [%# Dumper.dump(officials) %]
    </pre>



    <h2>Offices</h2>    
    <ul>
    [% FOREACH o IN content.offices %]
      <li>
        [% o.name %]:
        [% FOREACH i IN o.officialIndices %]
          [% officials.$i.name %]
        [% END %]
      </li>
    [% END %]
    </ul>
    <pre>
    [% Dumper.dump(content.offices) %]
    </pre>



    <h2>Divisions</h2>    
    <ul>
    [% d = content.divisions;
       FOREACH id IN d.keys %]
      <li>
        [% d.$id.name %], 
      </li>
    [% END %]
    </ul>
    <pre>
    [% Dumper.dump(content.divisions) %]
    </pre>


  </body>
</html>
